{% extends 'navbar.html' %}

{% block content %}

<h2 class="favorite-main">MY FAVORITES</h2>

    <div class="favorite-list">
            {% for favorite in favorites %}
            <div class="favorites">
            <p class="favorite-title">{{ favorite.title }} </p>
            
            <img class="favorite-image" src="{{ favorite.img }}"></img>

            <form action="{% url 'remove_favorite' favorite.pk %}">
                <input class="user-button" value="REMOVE" type="submit"></input>
              </form>

            </div>
        {% endfor %}
    </div>


{% endblock %}
