{% extends 'navbar.html' %}

{% block content %}



<div class="search">
  
  <form method="GET">
    <input class="user" type="text" name="title" placeholder="SEARCH..." />
    <input class="user-button" type="submit" value="SEARCH" />

    <form class="search" action="{% url 'home' %}">
      <input type="submit" class="user-button" value="CLEAR" />
      <form class="search" action="{% url 'film_create' %}">
        <input class="user-button" value="ADD MOVIE" type="submit"></input>
      </form>
    </form>


  </form>
  
  
  
</div>

  <div class="swiper main">
    
    <div class="swiper-wrapper">
    
    {% for film in films %}

      <div class="swiper-slide">
        <a class="car" href="{% url 'film_detail' film.pk %}">
          <img class="swiper_image" src="{{film.img}}"/>
        </a>
        <h2 class="main-title">{{film.title}}</h2>
    
        {% if film.user.pk == user.pk %}

            <p class="user-info">Added By {{ user.username }}</p>

        {% endif  %}

    </div>

    {% endfor %}

  </div>
  
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

{% endblock %}